
Plots/Scratch/
classes.py
__pycache__/classes.cpython-39.pyc
*.result
*.gz
bpass/spectra/spectra-bin-imf135_300.a+02.z001.dat
bpass/spectra/spectra-bin-imf135_300.a+02.z002.dat
bpass/spectra/spectra-bin-imf135_300.a+02.z003.dat
bpass/spectra/spectra-bin-imf135_300.a+02.z004.dat
bpass/spectra/spectra-bin-imf135_300.a+02.z006.dat
bpass/spectra/spectra-bin-imf135_300.a+02.z008.dat
bpass/spectra/spectra-bin-imf135_300.a+02.z010.dat
bpass/spectra/spectra-bin-imf135_300.a+02.z014.dat
bpass/spectra/spectra-bin-imf135_300.a+02.z020.dat
bpass/spectra/spectra-bin-imf135_300.a+02.z030.dat
bpass/spectra/spectra-bin-imf135_300.a+02.z040.dat
bpass/spectra/spectra-bin-imf135_300.a+02.zem4.dat
bpass/spectra/spectra-bin-imf135_300.a+02.zem5.dat
bpass/spectra-bin-imf135_300.a+02.z001.dat
bpass/spectra-bin-imf135_300.a+02.z002.dat
bpass/spectra-bin-imf135_300.a+02.z003.dat
bpass/spectra-bin-imf135_300.a+02.z004.dat
bpass/spectra-bin-imf135_300.a+02.z006.dat
bpass/spectra-bin-imf135_300.a+02.z008.dat
bpass/spectra-bin-imf135_300.a+02.z010.dat
bpass/spectra-bin-imf135_300.a+02.z014.dat
bpass/spectra-bin-imf135_300.a+02.z020.dat
bpass/spectra-bin-imf135_300.a+02.z030.dat
bpass/spectra-bin-imf135_300.a+02.z040.dat
bpass/spectra-bin-imf135_300.a+02.zem4.dat
bpass/spectra-bin-imf135_300.a+02.zem5.dat
